@model IEnumerable<InternsMS.Models.Assignment>

@{
    ViewData["Title"] = "Assignments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Assignments" asp-action="Index">Assignments</a></li>
            </ol>
        </nav>
    </div>
</nav>
<p>
    <a asp-action="Create" class="btn btn-primary mt-3">Create New Assignment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline )
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Internship)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supervisor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intern)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Internship.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supervisor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intern.Name)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn-success btn" style="width:80px">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn-info btn" style="width:80px">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn-danger btn" style="width:80px">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
