@model IEnumerable<InternsMS.Models.Intern>

@{
    ViewData["Title"] = "Interns";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Interns" asp-action="Index">Interns</a></li>
            </ol>
        </nav>
    </div>
</nav>
<p>
    <a asp-action="Create" class="btn btn-primary mt-3">Create New Intern</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Internship)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Internship.Title)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn-success btn" style="width:80px">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn-info btn" style="width:80px">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn-danger btn" style="width:80px">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
